In [1]:
from faker import Faker
import random
import pandas as pd

f=Faker()

### We are going to create a dataset containing fake data of students

In [2]:
name=[]
email=[]
phone=[]
gender_r=["Male","Female"]
uni_r=["MIT","Harvard","Cambridge","Yale"]
gender=[]
uni=[]
math_marks=[]
eng_marks=[]
sci_marks=[]
math_grade=[]
eng_grade=[]
sci_grade=[]

In [3]:
for i in range(300):
    g=random.choice(gender_r)
    if g=="Male":
        gender.append(g)
        first=f.first_name_male()
        last=f.last_name_male()
        n=first+" "+last
        name.append(n)
        em=f"{first.lower()}.{last.lower()}"+"@gmail.com"
        email.append(em)
        uni.append(random.choice(uni_r))
        phone.append(f.phone_number())
        math_m=f.random_int(min=0,max=100)
        eng_m=f.random_int(min=0,max=100)
        sci_m=f.random_int(min=0,max=100)
        math_marks.append(math_m)
        eng_marks.append(eng_m)
        sci_marks.append(sci_m)
        if math_m >=90:
            math_grade.append("A")
        elif math_m >=80 and math_m < 90:
            math_grade.append("B")
        elif math_m >=70 and math_m <80:
            math_grade.append("C")
        elif math_m <70:
            math_grade.append("D")
            
        if eng_m >=90:
            eng_grade.append("A")
        elif eng_m >=80 and eng_m < 90:
            eng_grade.append("B")
        elif eng_m >=70 and eng_m <80:
            eng_grade.append("C")
        elif eng_m <70:
            eng_grade.append("D")              
        
        if sci_m >=90:
            sci_grade.append("A")
        elif sci_m >=80 and sci_m < 90:
            sci_grade.append("B")
        elif sci_m >=70 and sci_m <80:
            sci_grade.append("C")
        elif sci_m <70:
            sci_grade.append("D")
            
    else:
        gender.append(g)
        first=f.first_name_female()
        last=f.last_name_female()
        n=first+" "+last
        name.append(n)
        em=f"{first.lower()}.{last.lower()}"+"@gmail.com"
        email.append(em)
        uni.append(random.choice(uni_r))
        phone.append(f.phone_number())
        math_m=f.random_int(min=0,max=100)
        eng_m=f.random_int(min=0,max=100)
        sci_m=f.random_int(min=0,max=100)
        math_marks.append(math_m)
        eng_marks.append(eng_m)
        sci_marks.append(sci_m)
        if math_m >=90:
            math_grade.append("A")
        elif math_m >=80 and math_m < 90:
            math_grade.append("B")
        elif math_m >=70 and math_m <80:
            math_grade.append("C")
        elif math_m <70:
            math_grade.append("D")
            
        if eng_m >=90:
            eng_grade.append("A")
        elif eng_m >=80 and eng_m < 90:
            eng_grade.append("B")
        elif eng_m >=70 and eng_m <80:
            eng_grade.append("C")
        elif eng_m <70:
            eng_grade.append("D")              
        
        if sci_m >=90:
            sci_grade.append("A")
        elif sci_m >=80 and sci_m < 90:
            sci_grade.append("B")
        elif sci_m >=70 and sci_m <80:
            sci_grade.append("C")
        elif sci_m <70:
            sci_grade.append("D")

In [4]:
data={
    "Name":name,
    "Gender":gender,
    "Email":email,
    "Phone":phone,
    "University":uni,
    "Math_Marks":math_marks,
    "English_Marks":eng_marks,
    "Science_Marks":sci_marks,
    "Math_Grade":math_grade,
    "English_Grade":eng_grade,
    "Science_Grade":sci_grade
}
df=pd.DataFrame(data)
df.to_csv("students_dummy_data.csv",index=False)

### The dataset containing fake data is created

In [5]:
std_fd=pd.read_csv(r"C:\Users\LINGESH A\OneDrive\Desktop\py\students_dummy_data.csv")
std_fd

,Name,Gender,Email,Phone,University,Math_Marks,English_Marks,Science_Marks,Math_Grade,English_Grade,Science_Grade
0,Jacob Johnson,Male,jacob.johnson@gmail.com,8622222583,Harvard,62,54,44,D,D,D
1,James Stewart,Male,james.stewart@gmail.com,+1-496-600-1221x4701,Yale,22,17,93,D,D,A
2,William Roach,Male,william.roach@gmail.com,286.611.6701,Harvard,13,50,2,D,D,D
3,Luis Moore,Male,luis.moore@gmail.com,(965)692-9871x7675,Cambridge,79,74,71,C,C,C
4,Ashley Fernandez,Female,ashley.fernandez@gmail.com,791.424.8809,Harvard,63,42,87,D,D,B
...,...,...,...,...,...,...,...,...,...,...,...
295,Martin Sanford,Male,martin.sanford@gmail.com,001-925-233-6925x666,MIT,9,47,88,D,D,B
296,Kevin Alexander,Male,kevin.alexander@gmail.com,+1-690-785-6251x7821,Cambridge,33,59,30,D,D,D
297,Michael Hill,Male,michael.hill@gmail.com,766.672.2350,Yale,33,3,97,D,D,A
298,Julie Perez,Female,julie.perez@gmail.com,639.356.1323x7092,Cambridge,37,48,65,D,D,D
299,Melissa Galvan,Female,melissa.galvan@gmail.com,(816)717-8856x634,Yale,80,23,88,B,D,B